.about-container {
  width: 100%;
}
.about-container-first {
  width: 100%;
  height: 800px;
}
.about-container-second {
  width: 100%;
  height: 800px;
  background-color: rgb(252, 238, 238);
}
.about-container-third {
  width: 100%;
  height: 800px;
  background-color: rgb(252, 252, 238);
}
.about-container-fourth {
  width: 100%;
  height: 800px;
  background-color: rgb(238, 239, 252);
}
.about-container-fifth {
  width: 100%;
  height: 800px;
  background-color: rgb(238, 252, 238);
}
#about-first {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1280px;
  height: 100%;
  background-color: white;
  justify-content: space-between;
}
#about-second {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1280px;
  height: 100%;
  justify-content: space-between;
}
#about-third {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1280px;
  height: 100%;
  justify-content: space-between;
}
#about-fourth {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1280px;
  height: 100%;
  justify-content: space-between;
}
