#banner {
  width: 100%;
  background-color: rgba(160, 166, 250, 0.541);
  display: flex;
  justify-content: center;
  height: 400px;
}
#search-bar-container {
  position: absolute;
  margin: auto;
  width: 1280px;
}
#search-bar {
  display: flex;
  margin: auto;
  padding-top: 100px;
  width: 500px;
  border-bottom: 3px solid whitesmoke;
}
#search-bar i {
  color: black;
  padding-right: 10px;
  font-size: 2rem;
  text-align: center;
}
#search-bar input {
  color: rgba(0, 0, 0, 0.473);
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  height: 40px;
  background-color: transparent;
  border: none;
}
#search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.473);
  text-align: center;
  font-size: 1.5rem;
}
#search-bar-container span {
  margin: 0;
  color: white;
}
#description {
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
}
#description-small {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
#description-large {
  font-size: 3rem;
}
#search-bar-container img {
  position: absolute;
  width: auto;
  height: auto;
}
#jobs {
  top: 40px;
}
#jobs2 {
  top: 50px;
  right: 0px;
}

#job-categories-container {
  background-color: rgba(160, 166, 250, 0.541);
  width: 100%;
  height: auto;
}
#job-categories {
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: white;
  margin: auto;
  width: 1280px;
  height: auto;
}
#job-categories div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#job-categories i {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-size: 3rem;
  margin-bottom: 1rem;
}
#job-categories span {
  font-size: 1.1em;
  font-weight: 400;
}
#popular-job {
  width: 1280px;
  margin: auto;
  margin-top: 50px;
}
#popular-job-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#popular-job-first,
#popular-job-second {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
hr {
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  width: 1280px;
}
#popular-job-first div,
#popular-job-second div {
  display: flex;
  flex-direction: column;
}
#popular-job-first div img {
  width: 300px;
  height: 180px;
}
#popular-job-second div img {
  width: 300px;
  height: 180px;
}
#popular-job-first span,
#popular-job-second span {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 600;
}
#enterprise-banner {
  background-color: rgb(127, 140, 255);
  width: 1280px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#enterprise-banner div {
  color: white;
  margin-left: 3rem;
}
#enterprise-banner button {
  background-color: white;
  font-size: 1.5rem;
  border: none;
  width: 200px;
  height: 70px;
  margin-right: 3rem;
}
footer {
  background-color: rgb(245, 245, 245);
  height: 200px;
  border-top: 1px solid rgb(230, 230, 230);
}
.footter {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-first {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(230, 230, 230);
}
.footer-second {
  border-top: 1px solid rgb(230, 230, 230);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
#names {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
